#intro {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    .IntroItem {
        max-width: 345px;
        margin: 10px auto;
        overflow: hidden;
        background: linear-gradient(0deg, #fff, #fff 45%, #24292e);
        justify-content: space-between;
        color: #000 !important;
        padding: 0 10px;
        .IntroItemContent {
            padding: 0;
            height: 250px;
            width: auto;
            color: #000;
            img {
                display: block;
                border-radius: 6px;
                margin: 0 auto;
            }
        }
        .IntroItemAction {
            justify-content: flex-end;
        }
    }
}
